@import url('https://fonts.googleapis.com/css2?family=Farro&family=Montserrat&display=swap');

html {
  scroll-behavior: smooth;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(11, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-height: 100%;
    max-width: 100%;
    grid-template-areas: 
      '. header .' 
      '. nav .'
      'main-image main-image main-image'
      '. about .'
      'about-column1 about-column2 about-column3'
      '. trail .'
      'trail-user1 trail-user1 trail-user1'
      'trail-user2 trail-user2 trail-user2'
      '. hub .'
      '. sign-up .'
      '. footer .';
}


body {
    background-color: #d0cdd7;
    font-family: Monsterrat, sans-serif;
    color: #416165;
    max-height: 100%;
    max-width: 100%;
}

.floating-btn {
  width: 30px;
  height: 30px;
  background-color: #416165;
  color: #d0cdd7;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

/* Headings and Logo */

.item-logo {
    grid-column: 2 / 3;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-area: header;
    align-items: center;
  }

#logo  {
    font-family: Farro;
    font-size: 500%;
    text-align: center;
    margin: 10px;
    padding-left: 25%;
    padding-right: 25%;
}

.sub-heading {
    font-size: 250%;
    font-family: Farro;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}


/* Nav Bar */

.item-nav {
    grid-column: 2 / 3;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-area: nav;
  }
  
#nav {
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  list-style: none;
  padding-left: 25%;
  padding-right: 25%;
}

#nav-home {
  padding-left: 10px;
  padding-right: 10px;
}

#nav-about {
  padding-left: 10px;
  padding-right: 10px;
}

#nav-trail {
  padding-left: 10px;
  padding-right: 10px;
}

#nav-hub {
  padding-left: 10px;
  padding-right: 10px;
}

.menu {
    text-transform: uppercase;
    font-family: Farro;
    font-size: 180%;
    text-decoration: none;
}


/* main image */

.item-image {
    grid-column: 1 / span 3;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-area: main-image;
  }

#main-image {
    max-width: 1600px;
    max-height: 800px;
    text-align: center;
}



/* About Section */

.item-about {
  grid-column: 2/ 3;
  grid-row-start: 4;
  grid-row-end: 4;
  grid-area: about;
  }
  
.item-spokes {
  grid-column: 1 / 2;
  grid-row-start: 5;
  grid-row-end: 5;
  grid-area: about-column1;
}

.item-vision {
  grid-column: 2 / 3;
  grid-row-start: 5;
  grid-row-end: 5;
  grid-area: about-column2;
}
.item-aim {
  grid-column: 3 / -3;
  grid-row-start: 5;
  grid-row-end: 5;
  grid-area: about-column3;
}
.about-heading {
  font-size: 150%;
  font-family: Farro;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center; 
}

.about-p {
  text-align: center;
  font-size: large;
}

/* Trail Section */


.item-trail {
    grid-column: 2 / 3;
    grid-row-start: 6;
    grid-row-end: 6;
    grid-area: trail;
  }
  
.item-user-one {
    grid-column: 1 / span3;
    grid-row-start: 7;
    grid-row-end: 7;
    grid-area: trail-user1;
    align-self: center;
    margin-right: 33%;
    margin-left: 33%;
  }

#jane-img {
  float:left;
  max-height: 250px;
  max-width: 250px;
  padding: 20px;
  border-radius: 5%;
  }

.item-user-two {
    grid-column: 1 / span3;
    grid-row-start: 8;
    grid-row-end: 8;
    grid-area: trail-user2;
    align-self: center;
    margin-right: 33%;
    margin-left: 33%;
  }

#joe-img {
  float: right;
  max-height: 250px;
  max-width: 250px;
  padding: 20px;
  border-radius: 5%;
  }

 .text-wrap {
   text-align: center;
 }

/* Form */

.item-hub {
    grid-column: 2 / 3;
    grid-row-start: 9;
    grid-row-end: 9;
    grid-area: hub;
  }

.item-form {
    grid-column: 2/ 3;
    grid-row-start: 10;
    grid-row-end: 10;
    grid-area: sign-up;
    
}
#hub {
  text-decoration: #416165;
  max-height: 400px;
  max-width: 100%;
}

.text-input {
    background: transparent;
    width: 33%;
    border: 1px solid;
    border-radius: 2px;
    margin: 20px 33% 20px 33%;
}

#signup {
    max-width: 100%;
}

section > #button {
    background-color: #416165;
    color: #d0cdd7;
    text-align: center;
}

/* Footer */

.item-footer {
  grid-column: 2/ 3;
    grid-row-start: 11;
    grid-row-end: 11;
    grid-area: footer;
}

.footer-list {
  list-style: none;
  max-width: 100%;

}

footer {
  color: #416165;
  font-size: 200%;
  max-width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

footer > ul {
  padding: 0;
  margin: 0;
  display: inline;
}