@import url('https://fonts.googleapis.com/css2?family=Farro&family=Montserrat&display=swap');

html {
  scroll-behavior: smooth;
  
}

body {
    background-color: #d0cdd7;
    font-family: Monsterrat, sans-serif;
    color: #416165;
    max-height: 100%;
    max-width: 100%;
}

.floating-btn {
  width: 30px;
  height: 30px;
  background-color: #416165;
  color: #d0cdd7;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

/* Headings and Logo */


#logo  {
    font-family: Farro;
    font-size: 500%;
    text-align: center;
    margin: 10px;
}

.sub-heading {
    font-size: 250%;
    font-family: Farro;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}


/* Nav Bar */

#nav {
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  list-style: none;
  max-width: auto;
  margin: 0;
  padding: 0;
}


.menu {
    text-transform: uppercase;
    font-family: Farro;
    font-size: 125%;
    text-decoration: none;
    padding: 5px;
}

a.menu {
  color:#416165
}


/* main image */

#img-area {
  max-width: 100%;
  margin: 2px;
}

#main-image {
    max-width: 320px;
    max-height: auto;
    text-align: center;
}



/* About Section */

.about-heading {
  font-size: 150%;
  font-family: Farro;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center; 
}

.about-p {
  text-align: center;
  font-size: large;
}

/* Trail Section */


#jane-img {
  height: 100%;
  width: 100%;
  border-radius: 5%;
  }

#joe-img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 5%;
  }

 .text-wrap {
   text-align: center;
   max-width: 100%;
 }

/* Form */

#hub {
  text-decoration: #416165;
  max-height: 400px;
  max-width: 100%;
}

.text-input {
    background: transparent;
    width: 33%;
    border: 1px solid;
    border-radius: 2px;
    margin: 20px 33% 20px 33%;
}

#signup {
    max-width: 100%;
}

section > #button {
    background-color: #416165;
    color: #d0cdd7;
    text-align: center;
}

/* Footer */

.footer-list {
  list-style: none;
  max-width: 100%;
}

a.footer-list {
  color: #416165;
}

footer {
  color: #416165;
  font-size: 200%;
  max-width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

footer > ul {
  padding: 0;
  margin: 0;
  display: inline;
}